{{templates "header"}}

<h1>APPLY</h1>

{{template "nav-main"}}


<form action="/apply" method="post">
    <lable for="fnm">first name
        <iput type="text" name="fname" id="fnm"></input>
    </lable>
    <input type="submit">
</form>

{{template "footer"}}