{{define "nav-main"}}
<nav>
    <ul>
        <li><a herf="/index">INDEX</a></li>
        <li><a herf="/about">ABOUT</a></li>
        <li><a herf="/contact">CONTACT</a></li>
        <li><a herf="/apply">APPLY</a></li>
    </ul>
</nav>
{{end}}